/*prebuilt popup*/
a:focus{
    outline: none;
    box-shadow: none;
}
#wppb-custom-popup-section{
        padding: 0 16px 0 0;
}
.prebuilt-pupup-layout-container{
    display: none;
}
.prebulit-demo-popup{
        padding: 5rem 0;
    width: 74%;
    background-color: #eae9e9;
    height: max-content;
}
.prebulit-demo-popup .wppb-popup-custom-wrapper{
    width: 100%;
}
.prebulilt-popup-inner > ul{
        width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-around;
}
.prebulilt-popup-inner .wppb-popup-custom-content{
        padding: unset;
}
.prebulilt-popup-inner img{
    max-width: 100%;
}
.prebulilt-popup-inner span{
        display: block;
    text-align: center;
    width: 100%;
}
/*business popup custom popup css*/
.wppb-popup-demo .wppb-popup-custom{
    padding: 5rem 0;
    width: fit-content;
    min-width: 832px;
    max-width: 1000px;
    margin: 36px auto 36px;
    border-radius: 5px;
    background-color: #00000021;
    perspective: 108px;
    position: relative;
    height: max-content;
    /*display: none;*/
    font-size: 10px;
}


.wppb-popup-demo .wppb-popup-custom .wppb-popup-custom-content div span{
        display: block;
    line-height: 1;
    color: #cacaca;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 3px 0;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 1px 0;
    position: relative;
}
.wppb-popup-custom-wrapper{
        position: relative;
    margin: auto;
    width: 550px;
}
.wppb-popup-overlay-custom-img{
        position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;

    background-position: left bottom;
}
.wppb-popup-custom-overlay{
        position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.wppb-popup-custom-content{
        z-index: 4;
        position: relative;
        padding: 23px 37px 23px;
}
.wppb-popup-custom img{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
.data-rl-editable-wrap{
    position: relative;
    display: flex;
}
.data-rl-editable-wrap .actions_{
        position: absolute;
    right: -2px;
    top: -2px;
    z-index: 4;
    opacity: 0;
    transition: .2s all linear;
}
.wppb-popup-demo .wppb-popup-custom .wppb-popup-custom-content .data-rl-editable-wrap .actions_ > span{
        font-size: 16px;
    text-align: center;
    height: auto;
    width: auto;
    color: red;
    cursor: pointer;
}
.wppb-popup-custom .data-rl-editable-wrap:hover .actions_{
    opacity: 1;
}
/*editable section */
.rl-editable-key-action{
        position: relative;
    transition: .3s background linear;
    outline: 1px dashed #c1c1c130;
}
.wppb-popup-custom [data-rl-editable]:hover,
.wppb-popup-custom .wppb-popup-lead-form:hover{
    outline: 1px dashed #ee5a3691;
    cursor: pointer;
}
.wppb-popup-custom [data-rl-editable]:before,
.wppb-popup-custom .wppb-popup-lead-form:before{
        content: "\f464";
    font-family: dashicons;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    background: #969894ab;
    color: #f3f3f3;
    width: 26px;
    line-height: 26px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
     display: none; 
    text-align: center;
    padding-left: 3px;
    z-index: 2;
    box-sizing: border-box;
}
.wppb-popup-custom [data-rl-editable]:after,
.wppb-popup-custom .wppb-popup-lead-form:after{
        position: absolute;
    background: #424241b8;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    display: none;
}
.wppb-popup-custom [data-rl-editable]:hover:before,
[data-rl-editable]:hover:after,
.wppb-popup-custom .wppb-popup-lead-form:hover:before,
.wppb-popup-custom .wppb-popup-lead-form:hover:after{
    display: block;
}
.wppb-popup-custom img[data-rl-editable]:hover{
    opacity: .7;
}

.wppb-popup-demo .wppb-popup-custom span.text-heading{
        font-size: 27px;
    font-weight: 500;
}
/*lead form builder design*/
.wppb-popup-lead-form{
    width: 100%;
}
.wppb-popup-lead-form .leadform-show-form{
        max-width: 100%;
    padding: 4px;
}
.wppb-popup-lead-form .lead-form-front{
    padding: 15px;
    background-size: 100%;
    box-sizing: border-box;
}
.wppb-popup-demo .wppb-popup-custom  .wppb-popup-lead-form .leadform-show-form span{
    text-align: left;
}
.wppb-popup-lead-form .leadform-show-form input[type='submit']{
    min-height: 38px;
    padding: 10px 30px;
    border-color: #000;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    background: #0C0C10;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    white-space: inherit;
}
.wppb-popup-lead-form .leadform-show-form input:not([type='submit']),
.wppb-popup-lead-form .leadform-show-form textarea{
         width: 100%;
    border: 1px solid gainsboro;
    color: #272525;
    margin: 2px 0;
    padding: 3px 6px !important;
    height: auto;
    min-height: 38px;
    font-size: 14px;
    line-height: 19px;
}
.wppb-popup-lead-form .leadform-show-form h2{
        margin: 5px 0;
    line-height: 24px;
    font-size: 22px;
    font-weight: 500;
    color: rgba(82, 82, 82, 1);
    line-height: 1;
    word-break: break-all;
}
.wppb-popup-lead-form .leadform-show-form label{
         margin: 5px 0;
    font-size: 15px;
    color: rgba(82, 82, 82, 1);
    line-height: 1;
}
.wppb-popup-lead-form .leadform-show-form div.lf-field{
    margin:0;
    box-sizing: border-box;
}

/*popup page design*/
.tempIdShow{
     text-align: center;
    background-color: #F9F9F9;
    padding: 12px 0;
    font-size: 16px;
}
.rlLoading{
       position: relative;
    pointer-events: none;
}
.rlLoading:before{
       position: absolute;
    background: #e0dede91;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: inherit; 
}
.rlLoading:after{
    content: "";
    border: 3px solid #868686;
    border-right-color:#f7f7f7;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation:loading_rotate .8s linear infinite;
}

@keyframes loading_rotate{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*business confirm modal reset*/
.resetConfirmPopup{
          position: absolute;
    background: #353434e6;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.resetConfirmPopup.active{
    display: block;
}
.reserConfirm_inner{
    display: flex;
    justify-content: center;
    perspective: 108px;
}
.resetWrapper{
         height: fit-content;
    background: white;
    margin-top: 20%;
    min-width: 312px;
    letter-spacing: 1px;
    text-align: center;
}
.resetConfirmPopup.active .resetWrapper{
    animation:effect_three .5s 0s 1 normal ease-in forwards;
}
.resetConfirmPopup.active.deactive .resetWrapper{
    animation:effect_three_close .5s 0s 1 normal ease-in forwards;
}
.resetHeader{
    color: white;
    background-color: #ee5a36;
    padding: 10px;
}
.resetFooter{
        display: flex;
    justify-content: center;
    padding: 20px 0;
}
.resetFooter .wppbPopup{
        padding: 7px 20px;
    text-decoration: none;
    margin: 0 10px;
    color: white;
}
.resetFooter .wppbPopup:focus{
    outline: none;
    box-shadow: none;
}
.resetFooter .wppbPopup.confirm{
        background-color: #34b734;
}
.resetFooter .wppbPopup.deny{
        background-color: #F44336;
}
.resetFooter .wppbPopup > span {
    margin-right: 5px;
    height: auto;
    width: auto;
}
/*business confirm modal reset*/

/*layout setting*/
.rl-display-none{
    display: none;
}
.wppb-popup-rl-wrap{
    display: flex;
    color: white;
    align-items: center;
}
.wppb-popup-rl-wrap .wppb-popup-rl-column{
        box-sizing: border-box;
    min-height: 10px;
    width: 100%;
}
.wppb-popup-rl-wrap.two-column .wppb-popup-rl-column{
    float: left;
    width: 50%;
}
.prebulilt-popup-inner [data-layout]{
	border: 2px solid transparent;
    background-color: #9e9e9e;
    height: 114px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.prebulilt-popup-inner [data-layout]:hover{
	    border-color:#ee5a36;
}
.wppb-popup-name{
	display: none;
	width: 74%;
}
.wppb-popup-name > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
    font-size: 16px;
    color: #888888;
    letter-spacing: 1px;
}
.wppb-popup-name > div > input{
        margin: 12px 0;
    border: 1px solid #d8d8d8;
    color: inherit;
    letter-spacing: 1px;
    width: 267px;
    font-size: 16px;
}
.wppb-popup-name > div > button{
    background-color: #0ca935;
    border: none;
    color: white;
    padding: 5px 23px;
    border-radius: 4px;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px;
}
.wppb-popup-close-btn{
        right: 5%;
    top: 5%;
    position: absolute;
    width: auto;
    height: auto;
    font-size: 20px;
    border: none;
    cursor: pointer;
        z-index: 5;
}
.wppb-custom-popup-section img{
    max-width: 100%;
    max-height: 100%;
}
.wppb-custom-popup-section{
    font-size: 10px;
}
.wppb-custom-popup-section .wppb-popup-row{
    margin-top: 15px;
}
.wppb-custom-popup-section .data-rl-editable-wrap > span{
       display: block;
    line-height: 1;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 3px 0;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 1px 0;
    position: relative;
}
.wppb-custom-popup-section .wppb-popup-custom-wrapper{
       width: unset;
    height: 100%;
}
.wppb-custom-popup-section .wppb-popup-demo-wrapper{
        height: 240px;
    overflow: hidden;
    zoom: .6;
}
.wppb-custom-popup-section .wppb-popup-demo:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.wppb-custom-popup-heading{
    display: flex;
    align-items: center;
}
.wppb-custom-popup-heading > a{
        background: #6747E6;
    display: block;
    padding: 6px 7px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 2em;
    letter-spacing: .05em;
}
