
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 600;
 }
 @font-face {
    font-family: 'DancingScript';
    src: url('fonts/DancingScript.ttf') format('truetype');
    font-weight: normal;
 }

.wppb-popup-cmn-container * :not(.dashicons){
    font-family:"Montserrat", sans-serif;
}

.wppb-popup_clear:after{
    content: "";
    clear: both;
    display: block;
}
.wppb-popup_clear > div{
    box-sizing: border-box;
}

#wppb-popup-demos-container{
        height: 100vh;
    overflow: auto;
}
.wppb-popup-column-three{
    width: calc(94% / 3);
    float: left;
}
.wppb-popup-column-three:nth-child(3n+2){
    margin: 0 3%;
}
.business-popup-column-two{
    width: 50%;
    float: left;
}
.wppb-popup-demo-settings{
        /*background: #f9f9f9;
    padding: 1.2rem .5rem;*/
}
/*.wppb-popup-setting-btns{
    display: flex;
    justify-content: space-between;
}*/
.business-popup-view,.wppb-popup-setting{
        color: #6747E6;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .03rem;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
/*.business-popup-view:focus, 
.wppb-popup-setting:focus{
    outline: none;
    box-shadow: none;
}
.business-popup-view:hover, 
.wppb-popup-setting:hover{
    color: #6747E6;
}
.business-popup-view:after,
.wppb-popup-setting:after{
    content:'';
    display: block;
    height: 2px;
    background-color: transparent;
    transition: transform .3s ease;
    transform: scale(0);
}
.business-popup-view:hover:after,
.wppb-popup-setting:hover:after{
    background-color: #6747E6;
    transform: scale(1);
}*/
/*popup update page*/
.business_disabled{
    pointer-events: none;
    opacity: .4;
}
.submit_reset_button{
        display: flex;
    justify-content: center;
    /*position: relative;*/
    padding-bottom: 32px;
}
.submit_reset_button > button {
    padding: .7rem 3rem;
    letter-spacing: .05rem;
    font-size: 17px;
    background: #6747E6;
    color: white;
    border: none;
    margin: 0 1rem;
    cursor: pointer;
    transition: .2s all linear;
}
.submit_reset_button > button.Business_popup_resetAddon{
        background-color: #6b6a6a;
}
.submit_reset_button > button:focus{
    outline: none;
    box-shadow: none;
}
.submit_reset_button > button:hover{
    background-color: #d85f42;
}
/*----------------------
business popup editor settings
----------------------*/
.wppb-popup-editor-divider{
    border-top: 1px dashed #ee5a3538;
    margin: .5rem 0;
}
/*----------------------
    tab settings
----------------------*/
.wppb-popup-cmn-nav {
        position: relative;
    background: #6747E6;
}
.wppb-popup-cmn-container{
        margin: 3rem 1.3rem 0px 0;
    background-color: #FFFFFF;
}
.wppb-popup-cmn-nav-item {
    display: flex;
}
.wppb-popup-cmn-nav-item > a {
        padding: 1rem 2.5rem;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: .03rem;
    transition: .3s all ease;
    border-right: 1px solid #7d60f1;
}
.wppb-popup-cmn-nav-item > a:hover, 
.wppb-popup-cmn-nav-item > a.active{
    background: #5635D8;
}
.wppb-popup-cmn-nav-item > a:focus{
    outline: none;
    box-shadow: none;
}
.wppb_icon_button > span{
    margin: 0 .2rem;
}
.wppb-popup-option{
        margin: 0 auto 3rem;
    border-radius: 5px;
    padding: 36px 0;
    width: 76%;
}
.wppb-popup-tab-container{
    display: none;
    /*padding-top: 36px;*/
}
.wppb-popup-tab-container.active{
    display: block;
    position: relative;
}
.wppb-popup-tab-container > .wppb-popup-editor-divider{
    margin: 1.5rem 0;
}
.wppb-popup-both{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wppb-popup-both > p{
    text-align: center;
    flex: .25;
}
.wppb-popup-option .wppb-popup-page-demo{
    margin-right: 1rem;
}
.wppb-popup-page-demo{
        width: 100px;
    /*height: 90px;*/
    border-radius: 4px;
    /*margin-right: 1rem;*/
    position: relative;
    box-sizing: border-box;
    padding: .2rem .2rem;
    background: #f9f8f8; 
}
.wppb-popup-page-demo > div{
        height: 5px;
    display: block;
    background-color: #dedede;
    margin: 6px 0;
    border-radius: 6px;
}
.wppb-popup-page-demo > .wppb-popup-screen{
        position: absolute;
    width: 62%;
    height: 36%;
    top: 50%;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #BFBFBF;
}
.wppb-popup-page-demo > .wppb-popup-inline-post{
    height: 22px;
    width: 60%;
    background: #BFBFBF;
}
.wppb-popup-page-demo .wppb-popup-widget-demo{
    display: flex;
}
.wppb-popup-page-demo .wppb-popup-widget-demo > div{
    flex: 1;
}
.wppb-popup-page-demo .wppb-popup-widget-demo > div:nth-child(2){
    background: #bfbfbf;
    margin: 5px;
    border-radius: 4px;
}
.wppb-popup-page-demo .wppb-popup-widget-demo > div > div{
        height: 5px;
    display: block;
    background-color: #dedede;
    margin: 6px 0;
    border-radius: 6px;
}
.wppb-perticular-page {
    flex: 1;
    border: 1px solid #e2e0e066;
    padding: .5rem;
    border-radius: 3px;
 box-shadow: 0px 0px 10px 0px #D0EAF5;
    display: flex;
    align-items: center;
    min-height: 144px;
}
.wppb-perticular-page-shortcode{
    flex: 1;
}
.wppb-perticular-page-shortcode > span{
        display: block;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: .03rem;
}
.wppb-perticular-page-shortcode > span:nth-child(2){
        background: #f7f7f773;
    color: #868686;
    width: fit-content;
    margin: .5rem 0;
    padding: .3rem .8rem;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 2px #8884841f;
}
.wppb-perticular-page > span{
    flex: 1;
}
.wppb-opt-all-pages{
    flex: 1;
    border: 1px solid #e2e0e066;
    padding: .5rem;
    border-radius: 3px;
 box-shadow: 0px 0px 10px 0px #D0EAF5;
    display: flex;
    align-items: center;
    min-height: 144px;
    position: relative;
}
.wppb-popup-optSaved-msg{
        position: absolute;
    top: -54px;
    right: 0;
    display: none;
}
.wppb-popup-optSaved-msg>p{
        color: white;
    padding: 4px 20px;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: .06rem;
    background: #17ad17;
}
.wppb-popup-optPopup-msg{
        position: absolute;
    bottom: 140px;
    left: 0;
    background-color: #fff8db;
    border-radius: 4px;
    padding: 14px 10px 12px;
    z-index: 5;
    display: none;
    box-shadow: 2px 2px 4px 1px #dcdada;
}
.wppb-popup-optPopup-msg .optClose{
         display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 16px;
    cursor: pointer;
    height: auto;
    width: auto;
    color: #e86969;
}
.wppb-opt-all-pages-div{
    flex: 1;
}
.wppb-header-top-header{
    text-align: center;
    margin: 0 0 2rem 0;
}
.wppb-header-top-header .wppb-popup-heading-title{
        font-size: 25px;
}
.wppb-popup-heading-title{
        font-size: 15px;
    margin: 0 0 0.5rem 0;
    display: block;
    letter-spacing: .03rem;
    line-height: 1.2;
}
.wppb-popup-heading-description{
        font-size: .9rem;
    letter-spacing: .03rem;
}

.biz_animation[anim='1']{
    animation:effect_one .5s 0s 1 normal ease-in forwards;
}
.biz_animation[anim='2']{
    animation:effect_two .5s 0s 1 normal ease-in forwards;
}
.biz_animation[anim='3']{
    animation:effect_three .5s 0s 1 normal ease-in forwards;
}
/*demo effect */
 /*effect one*/
    /*effect two*/
    /*.business-effect-two > div{
        perspective: 108px;
    }
    .business-effect-two .business-popup-wrapper{
          opacity: 0;
    }
    .business-effect-two.wppb_popup_active .business-popup-wrapper{
        animation:effect_two .5s 0s 1 normal ease-in forwards;
    }
    .business-effect-two.wppb_popup_shut .business-popup-wrapper{
        opacity: 1;
        animation:effect_two_close .5s 0s 1 normal ease-in forwards;
    }*/
    /*effect three*/
    /*.wppb-effect-3 > div{
        perspective: 108px;
    }
    .wppb-effect-3 .business-popup-wrapper{
          opacity: 0;
    }
    .wppb-effect-3.wppb_popup_active .business-popup-wrapper{
        animation:effect_three .5s 0s 1 normal ease-in forwards;
    }
    .wppb-effect-3.wppb_popup_shut .business-popup-wrapper{
        opacity: 1;
        animation:effect_three_close .5s 0s 1 normal ease-in forwards;
    }*/
    
/*demo effect */
@keyframes effect_one{
    0%{
          opacity: 0;
          transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes effect_two {
    0%{
          opacity: 0;
          transform: translateY(-28%) rotateX(7deg);
    }
    100%{
        transform: translateY(0%) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes effect_two_close{
    0%{
        transform: translateY(0%) rotateX(0deg);
    }
    100%{
        transform: translateY(200%) rotateX(0deg);
        opacity: 0;
    }
}
@keyframes effect_three {
    0%{
        opacity: 0;
        transform: translateY(100%) rotateX(12deg);
    }
    100%{
        transform: translateY(0) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes effect_three_close{
    0%{
        transform: translateY(0) rotateX(0deg);
    }
    100%{
        transform: translateY(100%) rotateX(12deg);
        opacity: 0;
    }
}
@keyframes effect_two_demo {
    0%{
          opacity: 0;
          transform: translateY(-48%) rotateX(80deg);
    }
    100%{
        transform: translateY(0%) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes effect_three_demo {
    0%{
        opacity: 0;
        transform: translateY(100%) rotateX(80deg);
    }
    100%{
        transform: translateY(0) rotateX(0deg);
        opacity: 1;
    }
}


/*design with right editor*/
.wppb-popup-demo-inner{
       display: flex;
    min-height: 550px;
    justify-content: space-between;
}


.wppb-custom-popup-head {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: #E6EBFF;
}
.wppb-custom-popup-head, .wppb-custom-popup-list > div {
    background: white;
    display: flex;
    align-items: center;
    padding: 14px 12px;
}
.wppb-custom-popup-head .wppb-popup-list-title, .wppb-custom-popup-list > div .wppb-popup-list-title {
    width: 20%;
}
.wppb-custom-popup-head > div > span, .wppb-custom-popup-list > div > div > span {
    font-size: 15px;
    display: block;
    line-height: 1;
    color: #3a3838;
    letter-spacing: .5px;
    font-weight: 600;
}
.wppb-custom-popup-list > div .wppb-popup-list-setting,
.wppb-custom-popup-list > div .wppb-popup-list-action,
.wppb-custom-popup-list > div .wppb-popup-list-enable,
.wppb-custom-popup-list > div .wppb-popup-list-view,
.wppb-custom-popup-list > div .wppb-popup-list-mobile,
.wppb-custom-popup-head .wppb-popup-list-view,
.wppb-custom-popup-head .wppb-popup-list-enable,
.wppb-custom-popup-head .wppb-popup-list-action,
.wppb-custom-popup-head .wppb-popup-list-mobile,
.wppb-custom-popup-head .wppb-popup-list-setting{
        display: flex;
    justify-content: center;
}
.wppb-custom-popup-head .wppb-popup-list-enable,
.wppb-custom-popup-list > div .wppb-popup-list-enable{
    width: 15%;
}
.wppb-custom-popup-head .wppb-popup-list-mobile,
.wppb-custom-popup-list > div .wppb-popup-list-mobile{
        width: 15%;
}
.wppb-custom-popup-head .wppb-popup-list-view,
.wppb-custom-popup-list > div .wppb-popup-list-view{
    width: 20%;
}
.wppb-custom-popup-head .wppb-popup-list-action,
.wppb-custom-popup-list > div .wppb-popup-list-action{
        width: 18%;
}
.wppb-custom-popup-head .wppb-popup-list-setting,
.wppb-custom-popup-list > div .wppb-popup-list-setting{
        width: 12%;
}
.wppb-custom-popup-list > div > div > span{
        color: #949292;
}
.wppb-custom-popup-list > div .wppb-popup-list-mobile > div label{
        color: #9c9a9a;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 3px 1px #9c9a9a;
}
.wppb-custom-popup-list > div .wppb-popup-list-mobile > div input:checked + label {
    box-shadow: 0px 0px 3px 1px #6747e6;
    color: #6747e6;
}
.wppb-custom-popup-list > div .wppb-popup-list-mobile > div input{
    display: none;
}
.wppb-custom-popup-list > div .wppb-popup-list-mobile > div label span{
        margin: 1px 0px 0px 1.5px;
}
.wppb-popup-list-view > a, .wppb-popup-list-setting > a{
        text-decoration: none;
    color: #9c9a9a;
}
.wppb-custom-popup-list > div > .wppb-popup-list-action > span{
    display: flex;
}
.wppb-custom-popup-list > div > .wppb-popup-list-action > span .wppb_popup_deleteAddon{
        color: #b33333;
    cursor: pointer;
    opacity: 0;
    transition: .4s all linear;
}
.wppb-custom-popup-list > div > .wppb-popup-list-action:hover .wppb_popup_deleteAddon{
    opacity: 1;
}

